html, body {
	font-family: 'Montserrat', sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
	border-left: 2px solid #00F28F;
	font-size: 48px;
	padding: 10px;
}

form input {
	background-color: #F0F0F0;
	border: none;
	border-radius: .25rem;
	border: 2px solid #F0F0F0;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	transition: background-color 1s, border 1s;
}

form input:focus {
	background-color: #FFF;
	border: 2px solid #00F28F;
	box-shadow: none;
	outline: none;
}

button.btn {
	background: #00F28F;
	border: 2px solid #00F28F;
	color: #FFF;
	cursor: pointer;
	font-size: 16px;
	padding: 12px;
	outline: none;
  width: 100%;
}

button.btn:hover {
	background: #FFF;
	border: 2px solid #00F28F;
	color: #00F28F;
	transition: background 1s, color 1s;
}

button:focus{
	outline: 0 !important;
}

audio {
	width: 200px;
}

.home {
	color: inherit;
	text-decoration: none;
}
